span
    #{self.color} #{self.loggerId} â¯
if self.message
    item #{self.message}
if self.id
    item
        dimmed #{self.id}
if self.time
    item
        dimmed #{self.time}
if self.src
    src #{self.src}
